<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erakis</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <style>
        #erakis-root {
            padding : 1rem;
        }
        #erakis-root>div {
            min-width:80vh;
            margin : auto;
        }
        table {
            border-collapse: collapse;
        }
        table th, td {
            padding : 0.25rem;
            border: thin solid cornflowerblue;
        }
        
    </style>
</head>
<body>
    <div id="erakis-root"></div>
    
    <script src="./index.ts" type="module"></script>
</body>
</html>